<!DOCTYPE html>
<html lang="en">

<%- include ('parcials/head.ejs') %>

    <body>
        <div id="wrapper">
            <%- include ('parcials/header.ejs') %>
                <%- include ('parcials/navigation.ejs') %>
                    <main>
                        <%- include ('parcials/main.ejs') %>
                    </main>
                    <%- include ('parcials/footer.ejs') %>
        </div>
    </body>

</html>